body {
	background: rgb(58,58,180);
	background: linear-gradient(90deg, rgba(58,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(244,150,19,1) 100%);
}

.wrapper {
	width: 70%
	margin: auto;
	text-align: center;
}

h1 {
	margin: 20px;
	font-size: 6rem;
	color: rgb(208, 214, 218);
}


.dice-area {
	margin: 0px 50px;
	text-align: center;
	display: inline-block;
}


.dice {
	display: inline-block;
    position: relative;
}

.dice h2 {
  position: absolute;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 9rem;
  color: black;
  text-shadow: 0px 0px 5px black;
}

p {
	font-size: 2.5rem;
	color: rgb(208, 214, 218);
}

img {
	width: 320px;
}

.btn {
  text-align: center;
}

.myButton {
	background: black;
	border-radius:4px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
	box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  	transform: translateY(-0.25em);
}
.myButton:active {
	position:relative;
	top:1px;
}